### Gradle ###
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Local H2 DB
/local-db.mv.db

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/