services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: jarkyn
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123qwe123
    ports:
      - "5432:5432"
    command: >
      postgres -c shared_preload_libraries=pg_stat_statements
               -c track_io_timing=on
               -c log_statement=all
               -c log_duration=on
               -c log_min_duration_statement=0

  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"


  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: gotenberg
    restart: unless-stopped
    ports:
      - "3000:3000"

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: 123qwe123
    ports:
      - "5672:5672"
      - "15672:15672"
